@import "~bootstrap/scss/bootstrap";

@import "vendor/flipdown.min.css";
@import "vendor/jquery.mCustomScrollbar.css";
@import "vendor/magnific-popup.css";
@import "vendor/owl.carousel.min.css";
@import "vendor/owl.theme.default.min.css";
@import "vendor/simple-line-icons.css";
@import "vendor/tarteaucitron.css";

@import "vendor/slick/slick-theme.css";
@import "vendor/slick/slick.css";

@import "style";

p.copyright {
  padding-bottom: -5px;
  margin-bottom: -5px;
}

.custommax {
  padding-bottom: -5px;
  margin-bottom: -5px;

}
