{% extends 'Front/base.html.twig' %}

{% block title %}
	Maxxess Articles
{% endblock %}

{% block body %}
	<!-- Page Header-->
	<div class="bootstrap-iso">

		<header class="bootstrap-iso masthead" style="background-image: url('{{ asset('images/front/home-bg.jpeg') }}')">
			<div class="bootstrap-iso container position-relative px-4 px-lg-5">
				<div class="bootstrap-iso row gx-4 gx-lg-5 justify-content-center">
					<div class="bootstrap-iso col-md-10 col-lg-8 col-xl-7">
						<div class="site-heading">
							<h1>Maxxess Articles</h1>
							<span class="subheading">Toutes les actualités Nationales & Régionales</span>
						</div>
					</div>
				</div>
			</div>
		</header>


		<div class="container text-center my-3">
			<div class="container px-4 px-lg-5">
				<div class="row gx-4 gx-lg-5 justify-content-center">
					<div class="col-md-10 col-lg-8 col-xl-7">
						<h1 align="center">Qui sommes nous ?</h1>

						<!-- Divider-->
						<hr
						class="my-4"/>
					<!-- Pager-->

					</div>
				</div>
				<p class="text-center">Quelle que soit votre pratique de la moto, votre style de pilotage influe sur l’usage que vous faites de vos équipements et accessoires. Cette découverte des conditions d’utilisation nous permet de vous recommander toutes les tenues motardes, accessoires moto et bien d’autres protections les plus adaptées à votre passion. Nous vous assurons, même sur les petits prix, de disposer d’une qualité optimale. Toujours à l’écoute des dernières modes et de vos attentes, nos magasins évoluent sans cesse. Notre assortiment est composé des plus grandes marques ; nous sélectionnons les modèles les plus tendances, les plus innovants, les plus techniques et vous proposons le meilleur rapport qualité/prix.</p>
			</div>
		</div>


		<div class="container text-center my-3">

			<div class="container px-4 px-lg-5">
				<div class="row gx-4 gx-lg-5 justify-content-center">
					<div class="col-md-10 col-lg-8 col-xl-7">
						<h1 align="center">La naissance du GÉANT de l'accessoire moto</h1>

						<!-- Divider-->
						<hr
						class="my-4"/>
					<!-- Pager-->

					</div>
				</div>
				<p class="text-center ">En 2000, le premier centre MAXXESS voyait le jour. Depuis le réseau s'est agrandi et compte actuellement 37 magasins Ce succès s’est construit grâce à la confiance renouvelée de nos clients car, nous le savons bien, c’est grâce à vous que nous existons. Aussi, un grand MERCI à tous, fournisseurs, marques, centrale d’achats SADEM, collaborateurs et surtout à vous, chers clients, car si MAXXESS se développe dans l’hexagone c’est grâce à vous et à votre fidélité ! Alors n’hésitez pas à nous faire part de vos commentaires, de vos remarques et de toutes vos questions en écrivant via notre page contact sur www.maxxess.fr</p>
			</div>
           <p class="text-center "> Ce site est un prototype indépendant de Maxxess, n'ayant aucun lien avec la société MAXXESS.</p>

		</div>


	</p>


</div>{% endblock %}
